// fonts
$font-title: 'Karla', sans-serif;
$font-body: 'Inconsolata', monospace, serif;

// colors
$off-w: #f2f1e0;
$grey: #f1f1f1;
$text: #181918;
$hover: #087898;
$drk_txt: #181918;
$white: #fff;
$orange: #f7901d;
$hover: #636363;


//BREAK POINTS//

/* Smartphones (portrait and landscape) ----------- 
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {}
*/

/* iPads (portrait and landscape) ----------- 
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {}
*/

/* Desktops and laptops ----------- 
@media only screen  and (min-width : 1224px) {}
*/